page-twod-view {
    .button1 {
        margin-bottom: 90px;
    }

    .icon-name {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: bold;
    }

    .button2 {
        margin-bottom: 20px;
    }
}
